/*
#02520f
#666
#fff
#000
#999

font-family: 'Montserrat', sans-serif;
*/

header{
    height: 15vh;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
    font-family: 'Montserrat';
    
}

main{
    height: 75vh;
    border: 1px solid #666;
}

footer{
    height: 10vh;
}

.group-footer{
    width: 20%;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: 20px;
    border-spacing: 0;
    
}
th{
    background-color: #02520f; 
    color: #ffffff; 
    padding: 8px;
    font-family: sans-serif;
}

.ranking{
    background-color: #666;
    color: #ffffff;
    width: 10%;
    font-size: x-large;
    font-weight: 800;
    font-family:'Montserrat';
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.pontos{
    font-size: x-large;
    width: 15%;
    font-family: "Montserrat";
}

.img-circle{
    width: 50px;
    height: 50px;
    
    
}

.time{
    font-size: xx-large;
    font-family: 'Montserrat';
    
    
}

.time img{
    height: 40px;

}

